 body{
    overflow-x:  hidden;
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    height: auto;
}
*{
    box-sizing: border-box !important;
    padding: 0;
    margin: 0;
}
html,body{
    padding: 0;
    margin: 0;
    width: 100%;
    overflow-x: hidden;
}
body h4,h1{
    font-family: cursive;
}


/* .yanone-kaffeesatz-body {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-optical-sizing: auto;
  font-weight: auto;
  font-style: normal;
}
h4  {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
  } */
   /* h4{
    fon
   } */
  a{
    text-decoration: none;
    color: white;
  }
  

.container{
    background-image:linear-gradient(rgba(31, 28, 28, 0.5),rgb(57, 56, 56, 0.5)) ,url(navybg.jpg) ;
    /* filter: brightness(40%); */
    height: auto;
    width: auto;
    background: cover;
    background-repeat: no-repeat;
   background-size: cover;
    box-sizing: border-box;
}
   
    
    /* ############################ nav bar ########################*/
nav{
    
    background-color: rgb(44, 42, 42);
    color: white;
    display: flex;
    justify-content: space-between;
    width: auto;
    padding: auto;
    align-items: center;
    height: 50px;
   position: sticky; top: 0%;
   z-index: 1;
   margin: 0px;
   /* border-radius: 1%; */
   
}
header{
    color: orange;
    margin:0% 2% ;
    font-size: large;
}
.navcontent{
    width: 50%;
    justify-content: space-between;
}
.navcontent select{

    text-decoration: none;
    border: 0px ;
    background-color: rgb(44, 42, 42);
    color: white;
    margin-bottom: 10px;
}
ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
.booktable{
    background-color: orange;
    padding: 1% 3%;
    margin-right: 5%;
    border-radius: 5px;
    color: white;
}
/*########################## section-1 ##################### */
.section1{

    background-image:linear-gradient(rgba(31, 28, 28, 0.5), rgba(57, 56, 56, 0.5)) url(navybg.jpg);
    /* backdrop-filter: blur(10px); */
    background: cover;
    background-repeat: no-repeat;
    display: flex;
    width: auto;
    color: white;
    /* margin: 0% 5%; */
    /* position: relative; */
    height: auto;
    margin-right: 5%;
}
.section1a{
    width: 50%;
    padding: 10%;
    animation-name: transition;
    animation-duration: 2s;
   

}
.section1a span{
    font-size: 3.7rem;
    font-weight: bolder;
    
}
.section1a p{
    font-size: larger;
}
.btnseca{
    padding: 20px 40px;
    background-color: orange;
    border-radius: 2px;
    color: white;
    border-color: orange;
}

.section1b img{
    display: flex;
    height: auto;
    width: 100%;
    align-items: center;
    align-content: center;
    margin-top: 5%;
    animation-name: rotate;
    animation-duration: 35s;
    transition-delay: 0s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: running;
    /* margin-right: 5%; */
}
/*########################### section-2 ########################### */
.section2{
    height: auto;
    width: auto;
    background-color:  rgb(248, 246, 246);
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom:5% ;

}
i{
    color: orange;
}
.section2 div{
    margin-top: 5%;
    background-color:white;
    height: 35%;
    width: 13%;
    /* background-color: yellow; */
    padding: 3%;
}
.section2a, .section2b, .section2c, .section2d{
    margin-left: 7%;
    animation-name: translate;
    animation-duration: 2s;
    animation-fill-mode: backwards;

}
.section2b{
   animation-delay: 200ms;
}
.section2c{
    animation-delay: 350ms;
}
.section2d{
    animation-delay: 500ms;
}
.section2d{
    margin-right: 7%;
}
    /*########################### section-3 ######################*/
.section3{
    height: auto;
    width: 100vw;
    /* background-color: aqua; */
    display: flex;
    /* padding: 0% ; */
   

}


/*################################# section -3a ####################*/
.section3a{
    height: auto;
    flex-basis: 50%;
    /* background-color: bisque; */
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    padding-left: 10%;
}


.section3a div{
    padding: 10px;
    /* z-index: -1; */
}
.about-1 img, .about-4 img{
    height: 75%;
    width: 80%;
    
}
.about-1, .about-4{
    position: relative;
}

.about-2, .about-3{
    position: relative;
}
.about-1 img{
    position: absolute;
    bottom: 2%;
    right: 2%;
    animation-name: scaleup;
    animation-duration: 1s;
    /* animation-fill-mode: forwards; */
}


.about-2 img{
    height: 60%;
    width: 65%;
    position: absolute;
    bottom: 2%;
    left: 2%;
    animation-name: scaleup;
    animation-duration: 1s;
}
.about-3 img{
    height: 60%;
    width: 65%;
    position: absolute;
    right: 2%;
    top: 2%;
    animation-name: scaleup;
    animation-duration: 1s;
}
.about-4 img{
    position: absolute;
    left: 2%;
    top: 2%;
    animation-name: scaleup;
    animation-duration: 1s;
}


/*############################ section- 3b ########################*/
.section3b{
    height: auto;
    flex-basis: 50%;
    /* display: grid; */
    /* justify-content: center; */
    padding: 6% 0%;
    padding-right: 10%;
}
 h4{
    font-size: x-large;
    font-family: "Cedarville Cursive" ;
    color: orange;
    
}
.acheive{
    display: flex;
    /* background-color: white; */
    justify-content: center;
    /* margin-left: -30px; */
}
.experience, .master{
    flex-basis: 50%;
    display: flex;
    align-items: center;
    margin: 5%;
    
}
.years, .cheffs{
    padding-left: 7px;
}
.num{
     padding: 10px;
     border-left: 5px solid orange;
     font-size: 3em;
     font-weight: bolder;
     color: orange;
}
.bold{
    font-weight: bolder;
}
.abtbtn{
    background-color: orange;
    padding: 20px 60px;
    border: 1px solid orange;
    border-radius: 2%
}
.section3b button{
    color: white;
}


/*#################################### section -4 Food menu #############################*/

.section4{
    width: auto;
    height: auto;
    /* display: grid; */
    /* justify-content: center; */
    text-align: center;
    animation-name: translate;
    animation-duration: 2s;
}      
.section4 h4{
    color: orange;
    font-size: x-large;
}         
.sessions{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 40%;
    justify-content: center;
    margin:0% 30% ;
}
.breakfast, .lunch, .dinnar{
    padding: 15px;
    border-bottom: 1px solid gray;
}
.fooditems{
    display: grid;
    grid-template-columns: auto auto;
    padding-left: 10%;
    /* padding-right: 15%; */
    width: auto;
    justify-content: center;
    margin-left: 10%;
}
.burger{
    display: flex;
    width: 50vw;
    /* justify-content: space-around; */
    
  
}
.sessions i{
    font-size: xx-large;
}
.sessions span{
    font-weight:bolder ;
}
.breakfast:hover {
    border-color: orange;
}
.lunch:hover {
    border-color: orange;
}
.dinnar:hover {
    border-color: orange;
}


.burger img{
    padding: 3%;
    height: auto;
}

/* .item content span{
    display: flex;
    justify-content: space-between; */

.item{
    padding-right: 40%;
  
}
.amount{
    color: orange;
}

/* ############################   section-5    ################# */

.section5{
    
    display: flex;
    width: 100vw;
}
.section5a{
    flex-basis: 50%;
    animation-name: transition;
    animation-duration: 2s;
}
.section5b{
    flex-basis: 50%;
    background-color: rgb(9, 9, 49);
    color: white;
    padding-left:3%;
    padding-top: 5%;
    height: 81vh;
    animation-name: transitionX;
    animation-duration: 2s;
}
.section5b h4{
    color: orange;
}
input{
    height: 50px;
    width: 20vw;
    margin: 7px 0px;
    border-radius: 4px;
}
.section5b select{
    height: 52px;
    width: 20.5vw;
    margin-left: 0%;
    border-radius: 4px;
    margin-bottom: 3%;
}
.submit{
    background-color: orange;
    color: white;
    width: 87%;
    height: 60px;
    font-size: medium;
}
/* ########################### section-6 ####################### */

.section6{
   text-align: center;
   background-color: whitesmoke;
   margin-bottom: 20vh;
   animation-name: translate;
   animation-duration: 2s;
}
.section6 h3{
    color: orange;
}
.team{
    display: flex;
    justify-content: center;
    margin: 3% 5%;
    
    
}
.teamcards h3{
     color: black;
}
.teamcards img{
    width: 80%;
    height: 70%;
    border-radius: 50%;
    
}
.teamcards{
    height: 18%;
    width: 18%;
    padding: 20px;
    margin: 10px;
    background-color: white;
}


/* ############################# section -7 ########################### */

.section7{
    /* text-align: center; */
    height: auto;
    width: 100vw;


}
.section7 h4,h1{
    text-align: center;
}
.clients{
    display: flex;
    height: auto;
    padding: 0% 3%;
   

}
.reviews{
    display: flex;
    flex-direction: column;
    height: 50%;
    width: auto;
    border: 0.5px solid black;
    margin: 2%;
    background-color: white;
}
.reviews i{
    height: 20px;
    width: 25px;
    background-color: white;
    font-size: 2.5rem;
    padding: 4%;
}
.reviews p{
   padding: 4%;
}




/* ############################## section-8 ########################## */

.section8{
    /* height: 50vh; */
    width: auto;
    background-color: #08083f;
    display: flex;
    justify-content: space-evenly;
    color: white;
    padding: 5%;
    /* align-items: center; */
    /* margin-top: 5%; */
}
.section8 div{
    width: auto;
}
p i{
    color: white;
}
.footer h3{
    color: orange;
}
.footer input{
    text-align: center;
}
.footericons i{
    border: 1px solid white;
    border-radius: 50%;
    padding: 8px;
}
footer{
    background-color: #08083f;
}
.details{
    display: flex;
    justify-content: space-between;
    margin: 0% 4%;
    /* margin-top: ; */
    color: white;
}
.footbar{
    display: flex;
    align-items: center;
    width: auto;
    padding: 1%;
}
.details p{
    margin-top: 1%;
}
.footbar a{
    /* margin-top: 1%; */
    padding: 5px;
}
@keyframes rotate{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@keyframes transition{

    from {
        transform: translateX(-500px);
    }
    to{
        transform: translateX(0px);
    }
}
@keyframes transitionX{

    from {
        transform: translateX(500px);
    }
    to{
        transform: translateX(0px);
    }
}
@keyframes translate{
    from {
        transform: translateY(500px);

    }
    to{
        transform: translateY(0px);
    }
}
@keyframes scaleup{
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}
@media only screen and (max-width:600px) {
    body{
        overflow-x: none;
    }
    .section1
    {
        flex-direction: column;
    }
    .navcontent{
        display: none;
    }
    .section1a{
        width: 100%;
        text-align: center;
        padding: 0;
        margin-top: 40%;
        
    }
    .section1b img{
        margin-bottom: 10%;
    }
    .section2{
        flex-direction: column;
    }
    .section2 div{
        height: auto;
        width: auto;
        font-size: 150%;
    }
    .section3{
        flex-direction: column;
    }
    .section3a{
        
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        width: 80%;
        max-width: 800px;
        position: static;
    }
   
    .section3a img {
        width: 100%;
        height: auto;
        object-fit: cover;
        position: static;
    }
    .acheive{
        flex-direction: column;
    }
    .fooditems{
        grid-template-columns: auto;
        /* grid-template-rows: 50%; */
        margin-top: 4%;
    }
    .burger{
        width: 100vw;
       
    }
    .item{
        padding-right: 130px;
    }
    .section5{
        flex-direction: column;
    }
    .section5b{
        grid-template-columns: auto;
    }
    input{
        height: 50px;
        width: 90vw;
        margin: 7px 0px;
        border-radius: 4px;
    }
    .section5b select{
        height: 52px;
        width: 91vw;
        margin-left: 0%;
        border-radius: 4px;
        margin-bottom: 3%;
    }
    .submit{
        background-color: orange;
        color: white;
        width: 97%;
        height: 60px;
        font-size: medium;
    }
    .team{
        flex-direction: column;
    }
    .teamcards{
        height: auto;
        width: auto;
        padding: 20px;
        margin: 10px;
        background-color: white;
    }
    .clients{
        flex-direction: column;
        height: auto;
    }
    .section8{
        flex-direction: column;
        width: 100vw;
    }
    .section8 div{
        padding: 4%;
        padding-left: 0%;

    }
    .details{
        flex-direction: column;
    }
    .footbar{
        justify-content: center;
    }
   
}
